# Targets del Makefile
*.o
*.algo
*.algografico
fotos/*.png
fotos/*.pdf
mochila.pdf

# Test autogenerados
casos/exp.*

# IDEs y esas cosas
.vscode
.gdb_history

# LaTeX
mochila.synctex.gz
*.fls
*.fdb_latexmk
*.aux
*.log
*.toc
